<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>

  <body>
    <%- include('navbar') %> <%- include('sidebar') %>
    <div class="mt-5">
      <img
        src="https://st2.depositphotos.com/3591429/12552/i/450/depositphotos_125524360-stock-photo-diversity-friends-near-wall-with.jpg"
        class="rounded mx-auto d-block"
        alt="HomePage"
      />
    </div>
    <!-- <a href="/login"><button>Login</button></a>
        <a href="/register"><button>Register</button></a> -->
    <!-- <a href="/adminportal"><button>admin portal</button></a> -->
  </body>
</html>
